@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
:root {
	--clr-bg: #f7f8fc;
	--clr-primary: #95d4b8;
	--clr-secondary: #0c9;
	--clr-white: #fafafa;
	--clr-middle: #a4a6b3;
	--clr-middle-2: #e5e6ef;
	--clr-text: #27415d;
	--clr-dark: #363740;
	--clr-dark-2: #47495b;
	--clr-warning: #f6db2d;
	--clr-error: #d53051;
	--clr-success: #97da3f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--clr-bg);
	color: var(--clr-text);
}

a {
	text-decoration: none;
}

.mr-1 {
	margin-right: 1em;
}

.flex-1 {
	flex: 1;
}
